.about-page {
    height: 100vh;

    .navbar-about {
        @include flex(flex-end, center, row);
        gap: 20px;
        padding-inline: 40px;
        height: 5vh;

        a {
            font-family: Lato;
        }
    }

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;

        .info-container {
            @include flex(space-between, center, column);
            gap: 0px;
            width: 350px;
            height: 450px;

            padding: 30px;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 3px;
            box-shadow: 0 0 1px 1px #e4e4e4;

            img {
                width: 80%;
                border-radius: 50%;
                border: 1px solid #e4e4e4;
                box-shadow: 0 0 1px 1px #e4e4e4;
            }

            .texts {
                font-family: Roboto;
                display: flex;
                flex-direction: column;
                gap: 5px;

                h3 {
                    margin: 0;
                }
            }

            .contact {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                font-size: 30px;

                i {
                    color: #333;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        color: #545454;
                    }
                }
            }
        }
    }
}
